<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h>home page</h>
    <p>this is a what if world web app where it will predict about the future
        and also it will have a community page where people can share their ideas about the future</p>
    <a href="/signUp">SignUp</a>
    <a href="/login">Login</a>
    <a href="/scenario">Scenario</a>
    <a href="/community">Community</a>
</body>
</html>