<%- layout('layouts/boilerplate')%>
<body>
    
    <section class="hero container text-center text-md-start">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="fw-bold display-5">Predict the Future of What-If Scenarios</h1>
                <p class="text-secondary mt-3">
                    Enter a scenario. Get realistic AI-powered predictions.
                </p>
                <div class="mt-4">
                    <a href="/scenario" class="btn btn-primary btn-lg me-2 ">Explore Now</a>
                    <a href="/community" class="btn btn-outline-primary btn-lg mt-3 mt-md-0">View Community</a>
                </div>
            </div>
            <div class="col-md-6 text-center mt-4 mt-md-0">
                <img src="/images/tv.svg" class="img-fluid" width="350">
            </div>
        </div>
    </section>
    <section class="container text-center mt-4">
        <h2 class="fw-bold fs-1 text-start">How It Works</h2>

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="how-it-works-icon text-primary">
                    <img src="/images/bulb.svg" width="200">
                </div>
                <p class="fw-semibold fs-3">Enter your ‘What if?’</p>
            </div>
            <div class="col-md-4">
                <div class="how-it-works-icon text-primary">
                    <img src="/images/chart.svg" width="200">
                </div>
                <p class="fw-semibold fs-3">AI predicts outcomes & charts</p>
            </div>
            <div class="col-md-4">
                <div class="how-it-works-icon text-primary">
                    <img src="/images/earth.svg" width="200">
                </div>
                <p class="fw-semibold fs-3">Share & discuss globally</p>
            </div>
        </div>
    </section>

    <section class="container mt-5">
        <h2 class="fw-bold mb-4">Examples</h2>

        <div class="row g-4 mb-5">
            <div class="col-md-4">
                <div class="card p-3 shadow-sm">
                    <h5>What if people work only 4 days a week?</h5>
                    <p>Domain:-all</p>
                    <p class="text-secondary">AI predicts improved work-life balance</p>
                    <form action="/scenario" method="POST">
                        <input type="text"  name="scenario" value="What if people work only 4 days a week?" style="display:none">
                        <input type="text" name="domain" value="all"  style="display:none">
                        <button type="submit" class="btn btn-outline-primary" style="width:100%">Try This Scenario</button>
                    </form>
                </div>
            </div>
             <div class="col-md-4">
                <div class="card p-3 shadow-sm">
                    <h5>What if a pill could prevent all common colds?</h5>
                    <p>Domain:-Health</p>
                    <p class="text-secondary">AI predicts sick days may drop by 50%.</p>
                    <form action="/scenario" method="POST">
                        <input type="text"  name="scenario" value="What if a pill could prevent all common colds?" style="display:none">
                        <input type="text" name="domain" value="health"  style="display:none">
                        <button type="submit" class="btn btn-outline-primary" style="width:100%">Try This Scenario</button>
                    </form>
                </div>
            </div>
             <div class="col-md-4">
                <div class="card p-3 shadow-sm">
                    <h5>What if all exams are replaced with project-based learning?</h5>
                    <p>Domain:-Education</p>
                    <p class="text-secondary">Deeper understanding and retention of material</p>
                    <form action="/scenario" method="POST">
                        <input type="text"  name="scenario" value="What if all exams are replaced with project-based learning?" style="display:none">
                        <input type="text" name="domain" value="education"  style="display:none">
                        <button type="submit" class="btn btn-outline-primary" style="width:100%">Try This Scenario</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 shadow-sm">
                    <h5>What if plastic use reduces by half across the world?</h5>
                    <p>Domain:-Environment</p>
                    <p class="text-secondary">AI predicts Significant reduction in marine pollution</p>
                    <form action="/scenario" method="POST">
                        <input type="text"  name="scenario" value="What if plastic use reduces by half across the world?" style="display:none">
                        <input type="text" name="domain" value="environment"  style="display:none">
                        <button type="submit" class="btn btn-outline-primary" style="width:100%">Try This Scenario</button>
                    </form>
                </div>
            </div>
             <div class="col-md-4">
                <div class="card p-3 shadow-sm">
                    <h5>What if robots help with all household chores?</h5>
                    <p>Domain:-Technology</p>
                    <p class="text-secondary">Increased efficiency in household management</p>
                    <form action="/scenario" method="POST">
                        <input type="text"  name="scenario" value="What if robots help with all household chores?" style="display:none">
                        <input type="text" name="domain" value="technology"  style="display:none">
                        <button type="submit" class="btn btn-outline-primary" style="width:100%">Try This Scenario</button>
                    </form>
                </div>
            </div>
             <div class="col-md-4">
                <div class="card p-3 shadow-sm">
                    <h5>What if everything you buy becomes 20% cheaper?</h5>
                    <p>Domain:-Economy</p>
                    <p class="text-secondary">AI predicts Increased consumer spending</p>
                    <form action="/scenario" method="POST">
                        <input type="text"  name="scenario" value="What if everything you buy becomes 20% cheaper?" style="display:none">
                        <input type="text" name="domain" value="economy"  style="display:none">
                        <button type="submit" class="btn btn-outline-primary" style="width:100%">Try This Scenario</button>
                    </form>
                </div>
            </div>
             <div class="col-md-4">
                <div class="card p-3 shadow-sm">
                    <h5>What if cities become completely car-free?</h5>
                    <p>Domain:-Society</p>
                    <p class="text-secondary">AI predicts reduced air pollution and improved public health</p>
                    <form action="/scenario" method="POST">
                        <input type="text"  name="scenario" value="What if cities become completely car-free?" style="display:none">
                        <input type="text" name="domain" value="society"  style="display:none">
                        <button type="submit" class="btn btn-outline-primary" style="width:100%">Try This Scenario</button>
                    </form>
                </div>
            </div>
              <div class="col-md-4">
                <div class="card p-3 shadow-sm">
                    <h5>What if everyone could vote using their phone?</h5>
                    <p>Domain:-Politics</p>
                    <p class="text-secondary">AI predicts Improved accessibility for remote or disabled voters</p>
                    <form action="/scenario" method="POST">
                        <input type="text"  name="scenario" value="What if everyone could vote using their phone?" style="display:none">
                        <input type="text" name="domain" value="politics"  style="display:none">
                        <button type="submit" class="btn btn-outline-primary" style="width:100%">Try This Scenario</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
<%- include('../partials/footer') %>
</body>
