<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>SignpUp for WhatIfWorld</h1>
    <form action="/signUp" method="POST">
        <div>
            <label for="name">UserName</label>
            <input type="text" placeolder="Enter name" name="name">
        </div>
         <div>
            <label for="email">Email</label>
            <input type="text" placeolder="Enter email" name="email">
        </div>
         <div>
            <label for="password">Password</label>
            <input type="password" placeolder="Enter password" name="password">
        </div>
        <button type="submit">SignUp</button>   
    </form>
    <div>
        <button>SignUp with Google</button>
    </div>
</body>
</html>