body { 
    font-family: 'Inter', sans-serif; 
}

.hero {
    padding: 80px 0;
}

.how-it-works-icon {
    font-size: 45px;
}

@media(max-width:600px){
    .main-btns{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:8px;
    }
    .main-img{
        width:250px;
    }

    .side-img{
        width:100px;
    }
}

