.login-container {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.btn-google {
  background-color: #fff;
  border: 1px solid #ddd;
  transition: background-color 0.2s ease;
}

.btn-google:hover {
  background-color: #f5f5f5;
}

.login-text a {
  color: #0d6efd;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .login-container {
    padding: 1.5rem;
    margin: 0;

  }

  .login-container h3 {
    font-size: 1.5rem;
  }
  .logo{
    width:50px;
  }
}
